/ Down the line, this will support the dashboard view too
- dataset = dataset_min

- if dataset.certificate
  .dataset{class: defined?(expanded) ? 'expanded': ''}
    .row
      .col-md-4
        %a.level-badge{class: "level-badge-#{dataset.certificate.attained_level}", href: url_for(dataset)}
        %h3.badge-align
          = link_to_unless_current dataset.title, dataset
      .col-md-3
        =link_to 'View certificate', dataset_latest_certificate_path(dataset), class: 'btn btn-info'
      .col-md-3
        .details
          %p
            %span Published By
            %strong= dataset.certificate.curator
          %p
            %span Issued
            %strong= "#{time_ago_in_words(dataset.certificate.published_at)} ago"
      .col-md-2
        .expand
          %i.show-more.icon-chevron-down
          %i.hide-more.icon-chevron-up
        .jurisdiction
          .badge
            = dataset.response_set.jurisdiction
          %span.status
            = dataset.response_set.survey.try(:status)

    .more
      %hr
      .row
        .col-md-4
          =render 'shared/response_set_summary_short', response_set: dataset.response_set

        .col-md-8
          =render 'shared/response_set_description', response_set: dataset.response_set

- else
  .dataset
    .row
      .col-md-12 No published certificate

%hr.heavy
